p {
    font-size: 30px;
}
h2 {
    font-size: 20px;
    text-align: center;
    color: black;
}
h3 {
    font-size: 600px;
    text-align: center;
}
head{
    text-align: center;
}
#welcome {
    width: 1250px;
    height: 720px;
    margin-bottom: 100px;
    margin-top: 47px;
}
body {
    text-align: center;
}
#MyCarousel {
    text-align: center;
    margin-left: 360px;
    margin-right: 360px;
    margin-top: 21px;
    margin-bottom: 20px;
    width: 420px;
    height: 845px;
}
#MyCarousel2 {
    text-align: center;
    margin-left: 360px;
    margin-right: 360px;
    margin-top: 21px;
    margin-bottom: 20px;
    width: 420px;
    height: 845px;
}
#CQ2 {
    font-size: 80px;
}
#RRR {
    font-size:  55px;
    margin-top: 200px;
}
#KS {
    margin: 500px;
    font-size: 50px;
    margin-bottom: 850px;
}
#CC {
    width: 1700px;
    padding-left: 300px;
    font-size: 40px;
}
#here {
font-size: 40;
margin: 75px;
}
#qimg {
    width: 800px;
    height: 800px;
}
#BLW {
    font-size: 60px;
    margin: 600px;
    width: 900px;
    margin-bottom: 800px;
}
#tewaje {
    width: 800px;
    height: 1000px;
   }
#t-o {
text-align: center;
width: 880px;
height: 600px;
}
#tyvtp {
margin-top: 350px;
margin-bottom: 100px;
font-size: 75px;
text-align: center;
}
#o {
    height: 1341;
    width: 900;
    margin: 300px;
}
#t {
    height: 900px;
    width: 600px;
    margin: 300px;
}
#tr {
    margin: 300px;
    height: 1000px;
width: 600px;
}
#fr{
    margin: 300px;
    height: 1350px;
    width: 750px;
}
#fv {
    margin: 200px;
    height: 600px;
    width: 1000px;
}
#sx {
    margin: 300px;
}
 #s{
    margin: 300px;
 }
 #ate {
    margin: 300px;
 }
 #n {
    margin: 300px;
 }
#te {
    margin: 400px;
}
#el {
    margin: 300px;
}
 #tv{
    margin: 300px;
 }
#th{
    margin: 300px;
}
#f{
    margin: 300px;
}
#ff{
    margin: 300px;
}
#at{
    margin: 300px;
}
#nt{
    margin: 300px;
}
#tw{
    margin: 300px;
}
#to{
    margin: 300px;
}